<h1>Edit</h1>
<p>title</p>
<form method="post" action="/submit" name="article">
  <p><input type="text" name="title"/></p>
  <p>body</p>
  <p><textarea name="content"></textarea></p>
  <p><input type="submit" />
</form>

<div id="article_box">
  <% @articles.each do |article| %>
    <div class="article">
      <p>id: <%= article[:id] %></p>
      <p>title: <%= article[:title] %></p>
      <p>body: <%= article[:body] %></p>
    </div>
  <% end %>
</div>
